%section#etvous
	.container.full_width_container
		.row.full_width_row
			.col-xs-8.col-xs-offset-2.col-sm-12.col-sm-offset-0#block_col12
				.col-xs-12.col-md-4.block_text.block_text1
					%h5 CHERCHE STAGIAIRE
					%p.pblanc Community management, rédactionnel, événementiel
					%p.pjaune Stage de 1 semaine a 2 mois
				.col-xs-12.col-md-4.block_text
					%h5 APPEL À PROJET
					%p.pblanc Une idée ?
					%p.pjaune On vous attends ?
				.col-xs-12.col-md-4.block_text
					%h5 ORGANISATION DE MARAUDE
					%p.pblanc Distribution de cafés et sandwichs pour les personnes vivant dans la rue > à Venir
					%p.pjaune Bénévoles
