%section#etvous
	.container.full_width_container
		.row.full_width_row
			.col-md-12#blackblock_col12.full_width_col12
				.col-md-4.blackblock
					%h5 APPEL À PROJET
					%p.pblanc Maraudes extraordinaires
					%p.pjaune vêtements et bénévoles
				.col-md-4.blackblock
					%h5 APPEL À PROJET
					%p.pblanc Une idée ?
					%p.pjaune On vous attends ?
				.col-md-4.blackblock
					%h5 ORGANISATION DE MARAUDE
					%p.pblanc Distribution de cafés et sandwichs pour les personnes vivant dans la rue > à Venir
					%p.pjaune Bénévoles
