%section#etvous
	.container.full_width_container
		.row.full_width_row
			.col-xs-8.col-xs-offset-2.col-sm-12.col-sm-offset-0#block_col12
				.col-xs-12.col-md-4.block_text.block_text1
					%h5=@blackblock1.title.upcase
					%p.pblanc=@blackblock1.white_text
					%p.pjaune=@blackblock1.yellow_text
				.col-xs-12.col-md-4.block_text
					%h5=@blackblock2.title.upcase
					%p.pblanc=@blackblock2.white_text
					%p.pjaune=@blackblock2.yellow_text
				.col-xs-12.col-md-4.block_text
					%h5=@blackblock3.title.upcase
					%p.pblanc=@blackblock3.white_text
					%p.pjaune=@blackblock3.yellow_text
