%section#etvous
	.container
		.row
			.col-md-12
				.col-md-4.blackblock
					%h5 APPEL À PROJET
					%p Maraudes extraordinaires
					%p vêtements et bénévoles
				.col-md-4.blackblock
					%h5 APPEL À PROJET
					%p Une idée ?
					%p On vous attends ?
				.col-md-4.blackblock
					%h5 ORGANISATION DE MARAUDE
					%p Distribution de cafés et sandwichs pour les personnes vivant dans la rue > à Venir
					%p Bénévoles
