%section#home
	%a{:href => "https://twitter.com/vuesdenbas"}= image_tag("logos/logo_twitter.png", :id =>"logo_twitter", :class =>"img-responsive", :alt =>"logo_twitter")
	%a{:href => "https://fr-fr.facebook.com/pages/Vues-den-bas/138270459619"}= image_tag("logos/logo_facebook.png", :id =>"logo_facebook", :class =>"img-responsive", :alt =>"logo_facebook")
	.container
		.row
			.col-xs-4.col-xs-offset-4
				= image_tag("logos/logo_vdb.png", :id =>"logo", :class =>"img-responsive", :alt =>"logo_vdb")

			.col-xs-12
				%nav#home_nav.navbar.navbar-default{:role => "navigation"}
					.container-fluid
						%ul.nav.navbar-nav
							%li
								%a{:href => "#quisommesnous"} QUI SOMMES NOUS
							%li
								%a{:href => "#nosprojets"} NOS PROJETS
							%li
								%a{:href => "#nosactions"} NOS ACTIONS
							%li
								%a{:href => "#presse"} PRESSE
							%li
								%a{:href => "#etvous"} ET VOUS
							%li
								%a{:href => "#souteneznous"} SOUTENEZ NOUS

			#catchline.col-xs-12
				%h1 REDONNONS UN SENS HUMAIN AU TERME SDF.
			#middle_line.col-xs-4.col-xs-offset-4
				%p#loi Association loi 1901
			.col-xs-12.col-md-8.col-md-offset-2
				- if flash.notice
					%p.congrats=flash.notice  


			.col-xs-1.col-lg-4#bloc_fleche
				= image_tag("logos/fleche_blanche.png", :id =>"fleche_blanche", :class =>"img-responsive", :alt =>"fleche_blanche")