%section#home
	%div.container
		%div.row
			%div
				= image_tag("background/logo_vdb.png", :id =>"logo", :class =>"img-responsive", :alt =>"logo_vdb")

			%nav#home_nav.navbar.navbar-default{:role => "navigation"}
				.container-fluid
					%ul.nav.navbar-nav
						%li
							%a{:href => "#"} QUI SOMMES NOUS
						%li
							%a{:href => "#"} NOS PROJETS
						%li
							%a{:href => "#"} PRESSE
						%li
							%a{:href => "#"} ET VOUS
						%li
							%a{:href => "#"} SOUTENEZ NOUS

			.col-xs-12.col-md-8.col-md-offset-2.catchphrase
				%h1 REDONNONS UN SENS HUMAIN AU TERME SDF.
			%div#middle_line.col-xs-4.col-xs-offset-4
				%p#loi Association loi 1901
			
			.col-xs-12.bloc_fleche
				= image_tag("background/fleche_blanche.png", :id =>"fleche_blanche", :class =>"img-responsive", :alt =>"fleche_blanche")			 