%section#nosactions
	.container
		.row
			.col-xs-12.col-md-4.col-md-offset-4.page_title
				%h2 LUTER CONTRE L'INVISIBILITÉ
			.col-xs-4.col-xs-offset-4
				= image_tag("logos/plus.png", :id => "plus2", :class =>"img-responsive plus", :alt =>"plus")
				= image_tag("logos/moins.png", :id => "moins2", :class =>"img-responsive moins", :alt =>"moins")
	.yellowblock#yb2
		.row
			.col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2
				%p Oscar WILD disait : "On a conscience avant, on prend conscience après" 
				%p Vues d'en Bas a pour but de faire prendre conscience. Conscience des gens qui nous entourent.
			.col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2
				%p LE TERME SDF EST VICTIME DE DÉSHUMANISATION. IL EST IMPORTANT DE LUTTER CONTRE CE PHÉNOMÈNE, DE SE DONENR LES MOYENS DE COMPRENDRE, D'ÉCOUTER ET DE VOIR CES ÊTRES HUMAINS OUBLIÉS PAR LA SOCIÉTÉ.
			.col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2
				%p Ouvrir les yeux par l'art. Voici l'idée de cette association.
				%p En créant des évènements artistiques (danse, peinture, street-art, chant, graphisme, photo...) traitant de la lutte contre l'invisibilité, Vues d'en Bas souhaite rendre visible un sujet souvent laissé de côté : la déshumanisation.
				%p En rendant visible l'invisible, nous souhaitons provoquer l'envie de connaître l'autre. 
			.col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2
				%p Vous pouvez proposer votre aide, vos talents, ou vos dons sur ce site, mais aussi commander les première oeuvres pour financer l'association.

			.col-xs-12.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4
				%h3 À VOIR EN CE MOMENT
				%p#a_voir 10 OCTOBRE/ 10 NOVEMBRE 2014 Restrospective à la Halle Pajol