%section#quisommesnous
	.container
		.row
			.catchphrase.col-xs-4.col-xs-offset-4
				%h2 UNE ASSOCIATION À BUT NON LUCRATIF
			.col-xs-2.col-xs-offset-5
				= image_tag("background/plus.png", :id => "plus1", :class =>"img-responsive plus", :alt =>"plus")
				= image_tag("background/moins.png", :id => "moins1", :class =>"img-responsive moins", :alt =>"moins")
			.col-xs-8.col-xs-offset-2
				= image_tag("background/logo_jaune_et_blanc.png", :id =>"logo_jb", :class =>"img-responsive", :alt =>"logo")
	.yellowblock#yb1
		.row
			.col-xs-8.col-xs-offset-2
				%p QUI ASSURE LA VISIBILITÉ ET LE DÉPLOIEMENT D'EXPOSITIONS OU DE TOUTES OEUVRES ARTISTIQUES VISANT À REDONNER UN SENS HUMAIN AU TERME SDF.
			.col-xs-8.col-xs-offset-2
				%p LES MOYENS :
				%p Vente d'afiches et de peintures, de photographies, réalisation d'expositions, spectacles sur le thème de l'invisibilité par rapport aux sans-abris pour changer le regard porté sur ces personnes en situation de grande précarité.
			.col-xs-8.col-xs-offset-2
				%p QU'ALLONS NOUS FAIRE ?
				%p Recruter des artistes qui souhaiteraient participer à la lute contre l'invisibilité. Organiser la mise en valeur de ces oeuvres (galeries, salles de théâtre, etc...), et enfin vendre des oeuvres ou prestations. Les recettes serviront à l'élaboration des futurs projets et à l'achat e nourriture pour l'organisation de maraudes.
			.col-xs-4.col-xs-offset-4#barre_grise
			.col-xs-12
				.col-xs-4
					%h3 MEMBRES FONDATEURS
					.col-xs-6
						%h4 SOPHIE BIGO
						%p présidente s.bigo@vuesdenbas.fr
					.col-xs-6
						%h4 CLARISSE GOUËLLO
						%p trésorière et associée c.gouello@vuesdenbas.fr
					.col-xs-6col-xs-offset-3
						%h4 MEMBRES ACTIFS
						%p Schadrack Ouani, Carl Mendosa
				.col-xs-4
					%h3 ILS NOUS AIDENT
					%p Schadrack Ouani, Benjamin Mahmoudi, Elsa Plaud, Imprimerie...
				.col-xs-4
					%h3 NOS ARTISTES
					%p PHOTOGRAPHES : Samir Bahrir / Benjamin Hoffelé / The Woïd / Thomas Ledoux
					%p CONCEPTEURS-REDACTEURS Antoine Paccoud / Florian Dupré / Victoria Wall / Black Moz
					%p GRAPHISTES : Sophie Bigo