%section#souteneznous
	.container.full_width_container
		.row.full_width_row
			.col-xs-8.col-xs-offset-2.col-sm-12.col-sm-offset-0#block_col12
				.col-xs-12.col-md-4.block_text.block_text1
					%h2 FAIRE UN DON
					%p Vos dons serviront directement à la mise en place et la création de nouveaux projets artistiques, la rémunération des particitpants non bénévoles et la location des différents lieux de représentation, mais aussi à la distribution de nourriture et vêtements avec l'aide des bénévoles et d'association partenaires.
				.col-xs-12.col-md-4.block_text#block_adherer
					%h2 ADHERER
					%p Pour devenir membre de l'association Vues d'en Bas, une cotisation annuelle de 17€ par an vous sera demandée. En faisant partie de l'association, vous participez par votre cotisation à la mise en place et la création de nouveaux projets artistiques et devenez, vous aussi, un militant de la lutte contre l'invisibilité.
				.col-xs-12.col-md-4.block_text
					%h2 COMMANDER
					%p Vous souhaitez lutter contre l'invisibilité des personnes sans abris en rendant visible nos oeuvres ? L'association Vues d'en Bas vous attend, et vous invite à en commander une.