<div id="links_div" class="col-xs-12 col-md-3">
	<!-- <div> -->
		<h4>VUE D'EN BAS L'EXPO</h4>
		<p>Qu'aimeriez-vous voir depuis votre fenêtre ?</p>
		<ul>
			<a href="" ng-click="changeUrl('vuesdenbaslexpo/affiches')">
				<li class="{{colored1}}">- LES AFFICHES ORIGINALES</li>
			</a>
			<a href="" ng-click="changeUrl('vuesdenbaslexpo/photos')">
				<li class="{{colored2}}">- LES PHOTOS</li>
			</a>
			<a href="" ng-click="changeUrl('vuesdenbaslexpo/posters')">
				<li class="{{colored3}}">- LES POSTERS</li>
			</a>
		</ul>
		<h4>200 FOR 141 500</h4>
		<ul>
			<a href="" ng-click="changeUrl('200for141500/photos')">
				<li class="{{colored4}}">- LES PHOTOS</li>
			</a>
		</ul>
	<!-- </div> -->
</div>

<form> <!-- Form inutile mais sans la 1ère photo est marging-bottom sans raison -->
	<div class="col-xs-12 col-md-6">
		<ul ng-repeat="photo in photos">
			<li class={{columns}}>
				<button type="button" class="btn btn-default plus" ng-click="add(photo)">+</button>
				<a href="assets/articles/{{photo.name}}.jpg" data-lightbox="oeuvres">
					<img ng-src="assets/articles/{{photo.name}}.jpg" class="img-responsive image"></img>
				</a>
			</li>
		</ul>
		<div id="text_price_div" class="col-xs-12">
			<p>{{text_price}}</p>
		</div>
	</div>
</form>

<div id="basket_div" class="col-xs-12 col-sm-8 col-md-3">
	<img id="basket_image" src="assets/basket.jpg"></img>
	<p id="basket_title">Mon Panier : {{total | currency: '€'}}</p>
	<ul class="col-xs-12 items_in_basket" ng-repeat="item in basket track by $index">
		<li>
			<img ng-src="assets/articles/{{item.name}}.jpg" class="col-xs-3 col-md-5 col-lg-4 img-responsive items_image_in_basket"></img>
			<span class="col-xs-3">{{item.price | currency: '€'}}</span>
			<span class="col-xs-4" ng-click="remove($index)"><button type="button" class="btn btn-default">-</button></span>
		</li>
	</ul>
	<form action="commandes/new" method="post" class="">
		<input type="hidden" value={{basket}} name="panier">
		<input type="image" name="submit" src="assets/buttons/valider_ma_commande.jpg" alt="submit"/>
		</button>
	</form>
</div>