%p VOS DONS servirons à financer les Maraudes, l'achat de vêtements, de nourriture, de fournitures pour les personnes sans abris, les frais liés aux évènements artistiques (Hors vernissages), les frais de l'association qui ne compte pas d'employés (bénévoles uniquement).
%br
%p Vos coordonnées sont nécessaires au traitement de vos dons. Elles restent strictement confidentielles et ne sont ni échangées ni louées à des tiers.
%p Conformément à la loi Informatique et Libertés du 6 janvier 1978, vous disposez en vous adressant au siège de Vues d'en Bas, d'un droit d'accès, de rectification et d'opposition aux informations vous concernant.