.footer
	.container
		.row
			.col-xs-6#col_ddp
				= link_to "TELECHARGER LE DOSSIER DE PRESSE", "dossierdepresse_vdb.pdf", :class => "dossierdepresse"
			.col-xs-4.col-xs-offset-2
				%p.contact contact@vuesdenbas.fr