.footer
	.container
		.row
			.col-xs-7#col_ddp
				= link_to "TELECHARGER LE DOSSIER DE PRESSE", "dossierdepresse_vdb_28.10.2015.pdf", :class => "dossierdepresse"
			.col-xs-4.col-xs-offset-1
				%p.contact contact@vuesdenbas.fr