%nav#header.navbar.navbar-default{:role => "navigation"}
	.container-fluid
		= image_tag("background/logo_vdb.png", :id => "header_logo", :class =>"img-responsive", :alt =>"logo_vdb")
		%ul.nav.navbar-nav
			%li
				%a.liens{:href => "#"} QUI SOMMES NOUS
			%li
				%a.liens{:href => "#"} NOS PROJETS
			%li
				%a.liens{:href => "#"} PRESSE
			%li
				%a.liens{:href => "#"} ET VOUS
			%li
				%a.liens{:href => "#"} SOUTENEZ NOUS