@import "variables"

#articles_container
	margin-bottom: 120px
	margin-top: 120px
	
	h1, h2, h3, h4, h5, h6, p, li
		color: black
		text-align: left

	a:link
		text-decoration: none

	ul
		padding-left: 0px

	li
		list-style-type: none

	.colored
		color: $yellow-text

	.items_in_basket
		margin-bottom: 7px

	.image
		margin-bottom: 10px

	.plus
		position: absolute
		top: 0px
		right: 15px
		border-radius: 0

	.items_image_in_basket
		padding-left: 0px