@import "variables"

#articles_page
	
	h1, h2, h3, h4, h5, h6, p, li
		color: black
		text-align: left

	a:link
		text-decoration: none

	ul
		padding-left: 0px

	li
		list-style-type: none

	.colored
		color: $yellow-text

	.area
	